<h2 class="title">Users</h2>
<hr class="hr">


<label>
    <input
            type="text"
            class="input col col-3 pull-left"
            data-ng-model="search">
</label>

<label>
    Show users with email
    <input
            type="checkbox"
            class="checkbox col col-1"
            data-ng-model="email">
</label>

<button class="btn btn-primary col col-3 pull-right" data-ng-click="create()">Create user</button>

<table class="table table-hover">
    <thead>
    <th><a href="" data-ng-click="order='id'">Id</a></th>
    <th><a href="" data-ng-click="order='firstName'">First name</a></th>
    <th><a href="" data-ng-click="order='login'">Login</a></th>
    <th><a href="" data-ng-click="order='email'">Email</a></th>
    <th>Actions</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in users | filter:search | orderBy:order | emailFilter:email">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td>
                <button class='btn btn-xs btn-default'
                        data-ng-click="edit(user)">
                    <i class='fa fa-pencil-square-o'></i>
                </button>
                <button class='btn btn-xs btn-default'
                        data-ng-click="delete(user)">
                    <i class='fa fa-trash-o'></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>